/* src/styles/Contact.css */

/* Efecto hover sutil en el botón */
.hover-scale-effect {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.hover-scale-effect:hover {
  transform: scale(1.02); /* Se agranda ligeramente */
  opacity: 0.9;
}

.contact-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}