/* src/components/ProjectCard.css */

.card-hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.card-hover-effect:hover {
  transform: translateY(-5px); /* Se mueve ligeramente hacia arriba */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
}

/* src/components/ProjectCard.css */

.tags {
  margin: 10px 0;
}

.tag-pill {
  display: inline-block;
  background-color: var(--color-tag); /* Color de fondo muy claro */
  color: var(--color-primary-dark);
  font-family: var(--font-body);
  font-size: 0.8rem;
  font-weight: var(--font-regular);
  padding: 4px 10px;
  margin-right: 8px;
  border-radius: 20px;
}

/* src/components/ProjectCard.css */

.project-card {
  padding: 30px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-background);
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.project-card p {
  color: var(--color-text-light);
}

/* Aplicación del efecto hover sutil ya definido */
.card-hover-effect:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08); 
}